<div class="header">
  <app-container>
    <div class="header--navbar">
      <div class="header--navbar--logo">
        <div class="header--navbar--logo--image"></div>
        <div class="header--navbar--logo--content">developer</div>
      </div>
      <div *ngIf="device === 'desktop'" class="header--navbar--links">
        <ng-template ngFor let-link [ngForOf]="links">
          <app-link [link]="link"></app-link>
        </ng-template>
      </div>
      <div class="header--navbar--menu-button" *ngIf="device === 'mobile'">
        <app-menu-button
          [isActive]="menuOpen"
          (click)="toggleMenu()"
        ></app-menu-button>
      </div>
    </div>
  </app-container>
</div>
