@import './styles/functions.scss';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: all var(--transition-duration) ease-out;

  &.active {
    color: var(--primary);

    &:after {
      width: 100%;
      background-color: var(--primary);
    }
  }

  &:after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background-color: var(--white);
    border-radius: 5px;
    transition: all var(--transition-duration) ease-out;
  }

  &:hover {
    color: var(--primary);

    &:after {
      width: 100%;
      background-color: var(--primary);
    }
  }
}
